* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	background-image: linear-gradient(
		to bottom right,
		rgb(254, 211, 150),
		rgb(140, 217, 255)
	);

	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;

	margin: 1rem 0;
}

.debug-info {
	position: absolute;
	top: 0;
	left: 0;

	padding: 1rem;

	background-color: white;
}

.canvas_wrapper {
	position: relative;
}

.crosshair {
	box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: black;
    border: 2px solid white;
    border-radius: 99px;
    opacity: 0.8;
}

.tutorial {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	line-height: 1.5;
	margin: 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 10px;
}

.inventory {
	position: absolute;
	display: flex;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.8rem 1rem 0.8rem 1rem;
	line-height: 1.5;
	margin: 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 10px;
}

.inventory_slot {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0.5rem;
	border: 2px solid white;
	border-radius: 10px;
	overflow: hidden;
}

.game_info {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 1rem;
	line-height: 1.5;
	margin: 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 10px;
}

.inventory_item {
	display: none;
}

.inventory_item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
